@font-face {
    font-family: Deafult;
    src: url(fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf);
}
h1{
    font-family: Deafult;
}

.heroimg{
    top: 0;
    width: 100%;
    height: 100%;
}
.hero{
    background: url(Wall_01.png);
    position: absolute;
    top: 0;
    left: 0;
    height:98%;
    width: 100%;
}

.title{
    font-size: 5em;
    color: green;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desc1{
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    color: darkgreen;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.story{
    position: absolute;
    top: 100%;
    width: 99%;
    height: 10%;
    /*background-image: url(Flag_of_Saudi_Arabia.svg);
    background-repeat: no-repeat;
    background-size: 100%;*/
}
.stitle{
    font-size: 5em;
    color: green;
    position: relative;
    top: 100%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 15%;
    text-align: center;
}
.storyd{
    font-size: 2em;
    color: darkgreen;
    position: relative;
    top: 0px;
}
.storyimg{
    width: 660px;
    position: absolute;
    left: 56%;
    top: 0%;
}